/*reseteo general*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box
}
body{
    font-family:"Atkinson Hyperlegible", sans-serif;
    
}
.header__caja{
    display:flex;
    align-items:center;
    background-color: #336699;
    width: 100%;
    margin:0 auto;
    padding:0 10px;
    gap:24px;
}

.header__titulo{
    font-family: "Atkinson Hyperlegible";
    font-weight: 700;
    font-size:3rem;
    color:white;
    margin:0; 
    padding: 40px 20px;
    
}

.header__logo {
    height:auto;
    width:100px;
}
.nav{
    background:#ffaa33;
    border:6px inset #ff8000;
    padding:10px;
}
.nav__list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    font-family:'Atkinson Hyperlegible';
    font-weight:700;
    font-size:20px;
    color:black;
}
.nav__item{
    
    font-size:24px;
    margin:0 15px;
    vertical-align: middle;
}
.nav__link {
    text-decoration: none;
}
    /*Al pasar el mouse*/
.nav__link:hover {
    text-decoration: underline;
    /*color: white;*/
}


.main{
    min-height: 80vh;
    background-color: #D6EAF8;
    background-image: url('../imagenes/mapa.png');
    background-repeat:no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-attachment: fixed;
    padding:50px 0;
}
.main__caja{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap:30px;
}
.main__seccion{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    gap:30;
    width:100%;
    max-width:1100px;
    margin-top: 50px;
    padding-left: 40px;
}
.main__video{
    width:500px;
    height:auto;
    flex-shrink: 0;
    margin-top:0;
}
.main__video-info{
    flex:1;
    margin-left: 35px;
    /*background-color:rgba(255,255,255,0.5);*/
    border-radius: 4px;

}
.main__video-info *{
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
    
}
.main__video-titulo{
    margin-top:0;
    margin-bottom:0px;
    font-size: 1.6rem;
    color:#333;
}
.main__video-texto{
    margin-top:25px;
    font-size:1.15rem;
    line-height:1.6;
}
.main__titulo{
    /*Le doy transparencia media, asi se ve fondo*/
    background-color:rgba(255,255,255,0.5);
    font-size: 2.6rem;
    padding:8px 20px;
    border-radius:4px;

 }

.main__texto{
    font-size:1.4rem;
    background-color:rgba(255,255,255,0.5);
    border-radius:4px;
}
.nav__link{
    cursor:pointer;
}
.table-seccion{
    display:none;
}
.nav:hover ~ .main .table-seccion{
    display:block;
}
.table-seccion{
    background-color: rgba(255,255,255,0.95);
    padding:20px;
    border-radius: 8px;
    /*sombra suabe para que flote*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*Lo separo del video y texto arriba*/
    margin-top: 40px;
    width:100%;
    max-width: 1100px;
    box-sizing: border-box;
}
.table-seccion__caption{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color:#333333;
}
.table-seccion__tabla{
    width:100%;
    border-collapse: collapse;
    margin:20px;
}
.table-seccion__celda{
    padding: 12px 15px;
    text-align: left;
}
.table-seccion__header{
    background-color: #f2f2f2;
    font-weight: bold;
}
.table-seccion__fila{
    border-bottom: 1px solid #dddddd;
}
 .footer{
    background-color: #6688bb;
    padding:20px;
    text-align:center;
/*  */
}
.footer__text{
    color:#f2f2f2;
    font-size:14px;
}   