/*reseteo general*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box
}
body{
    font-family:"Atkinson Hyperlegible", sans-serif;
    background-color: #D6EAF8;
    background-image: url('../imagenes/mapa.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 400px auto;
    padding:0;
    
}
.header__caja{
    display:flex;
    align-items:center;
    background-color: #336699;
    width: 100%;
    margin:0 auto;
    padding:0 10px;
    gap:24px;
}
.header__titulo{
    font-weight: 700;
    font-size:3rem;
    color:white;
    margin:0; 
    padding: 40px 20px;
}
.header__logo {
    height:auto;
    width:100px;
}
.nav{
    background:#ffaa33;
    border:6px inset #ff8000;
    padding:10px;
}
.nav__list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    font-family:'Atkinson Hyperlegible';
    font-weight:700;
    font-size:20px;
    color:black;
}
.nav__item{
    font-size:24px;
    margin:0 15px;
    vertical-align: middle;
}
.nav__link{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
    /*Al pasar el mouse*/
.nav__link:hover {
    text-decoration: none;
    color: white;
}

.main__caja{
    /*display:flex;*/
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap:30px;
}
.main__seccion{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    gap:30px;
    width:100%;
    max-width:1100px;
    margin-top: 50px;
    padding-left: 40px;
}
.main__video{
    width:500px;
    height:auto;
    flex-shrink: 0;

}
.main__video-info{
    flex:1;
    margin-left: 35px;
    /*background-color:rgba(255,255,255,0.5);*/
    border-radius: 4px;
}
.main__video-info *{
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
}
.main__video-titulo{
    margin-top:0;
    margin-bottom:0px;
    font-size: 1.6rem;
    color:#333;
}
.main__video-texto{
    margin-top:25px;
    font-size:1.15rem;
    line-height:1.6;
}
.main__titulo{
    /*Le doy transparencia media, asi se ve fondo*/
    background-color:rgba(255,255,255,0.5);
    font-size: 2.6rem;
    padding:8px 20px;
    border-radius:4px;

 }
.main__texto{
    font-size:1.4rem;
    background-color:rgba(255,255,255,0.5);
    border-radius:4px;
}
/*.table-seccion{
    display:none;
}*/
.table-seccion{
    background-color: rgba(255,255,255,0.95);
    padding:20px;
    border-radius: 8px;
    /*sombra suabe para que flote*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*Lo separo del video y texto arriba*/
    margin-top: 40px;
    width:100%;
    max-width: 1100px;
    box-sizing: border-box;
}
.table-seccion__caption{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color:#333333;
}
.table-seccion__tabla{
    width:100%;
    border-collapse: collapse;
    margin:20px;
    display:none;
}
.table-seccion:hover .table-seccion__tabla{
    display:table;
}
.table-seccion__celda{
    padding: 12px 15px;
    text-align: left;
}
.table-seccion__header{
    background-color: #f2f2f2;
    font-weight: bold;
}
.table-seccion__fila{
    border-bottom: 1px solid #dddddd;
}
 .footer{
    background-color: #6688bb;
    padding:20px;
    text-align:center;
/*  */
}
.footer__text{
    color:#f2f2f2;
    font-size:14px;
} 
.lugares__caja{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    width:100%;
    margin-top:40px;
    flex-wrap: wran;
   gap: 30px;
   
} 
.tarjeta *{
    margin-top: 4px;
    margin-bottom:4px;
}
.tarjeta{
    background-color:rgba(214,234,248,0.75);
    width: 300px;
    padding:20px;
} 
.tarjeta-destacada .tarjeta__dato{
    display:inline-block;
    background-color:#ffaa33;
    color:black;
    padding:6px 14px;
    border-radius:20px;
    font-size:0.9rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    
}
.tarjeta-destacada .tarjeta__boton{
    display:block;
    width:100%;
    margin-top: 10px;
}
.tarjeta p{
    text-align: justify;
    color:black;
}
.tarjeta__imagen{
   width:100%;
   height:200px;
   object-fit: cover; 
}
.tarjeta__dato{
    display:block;
    font-weight: bold;
    
}
.tarjeta__boton{
    margin-top:20px;
    color:#336699;
    font-size: 1rem;
}
.resenias__caja{
    max-width: 1200px;
    margin:40px auto;
    background-color: rgba(255,255,258,0.4);
    border-radius: 12px;
    padding:20px;
    margin-top: 40px;
}
.comentarios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:25px;
    min-height: 55vh;
}
.tarjetaComentarios{
    background-color: rgba(255,255,255,0.9);
    padding:20px;
    border-radius: 8px;
    /*borde suave*/
    border:1px solid #dddddd;
    /*sombra*/
    box-shadow: 0 4px 6px  rgba(0,0,0,0.5);
    transition: transform 0.35 ease, box-shadow 0.35 ease, border-color 0.35 ease;
} 
.tarjetaComentarios:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    border-color: #ffaa33;
}
.estrellas{
    color:#ffaa33;
    margin-top: 10px;
}
 