/*reseteo general*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Atkinson Hyperlegible", sans-serif;
    background-color: #D6EAF8;
    background-image: url('../imagenes/mapa.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 400px auto;
    padding:0;
    
}
.header__caja{
    display:flex;
    align-items:center;
    background-color: #336699;
    width: 100%;
    margin:0 auto;
    padding:0 10px;
    gap:24px;
}
.header__titulo{
    font-weight: 700;
    font-size:3rem;
    color:white;
    margin:0; 
    padding: 40px 20px;
}
.header__logo {
    height:auto;
    width:100px;
}
.nav{
    background:#ffaa33;
    border:6px inset #ff8000;
    padding:10px;
}
.nav__list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    /*font-family:'Atkinson Hyperlegible';*/
   /* font-weight:700;*/
    font-size:20px;
    color:black;
}
.nav__item{
    font-size:24px;
    margin:0 15px;
    vertical-align: middle;
}
.nav__link{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
    /*Al pasar el mouse*/
.nav__link:hover {
    text-decoration: none;
    color: white;
}

.main__caja{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap:30px;
}
.main__seccion{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    gap:30px;
    width:100%;
    max-width:1100px;
    margin-top: 50px;
    padding-left: 40px;
}
.main__video{
    width:500px;
    height:auto;
    flex-shrink: 0;

}
.main__video-info{
    flex:1;
    margin-left: 35px;
    /*background-color:rgba(255,255,255,0.5);*/
    border-radius: 4px;
}
.main__video-info *{
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
}
.main__video-titulo{
    margin-top:0;
    margin-bottom:0px;
    font-size: 1.6rem;
    color:#333;
}
.main__video-texto{
    margin-top:25px;
    font-size:1.15rem;
    line-height:1.6;
}
.main__titulo{
    /*Le doy transparencia media, asi se ve fondo*/
    background-color:rgba(255,255,255,0.5);
    font-size: 2.6rem;
    padding:8px 20px;
    border-radius:4px;
}
.main__texto{
    font-size:1.4rem;
    background-color:rgba(255,255,255,0.5);
    border-radius:4px;
}
.table-seccion{
    background-color: rgba(255,255,255,0.95);
    padding:20px;
    border-radius: 8px;
    /*sombra suabe para que flote*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*Lo separo del video y texto arriba*/
    margin-top: 40px;
    width:100%;
    max-width: 1100px;
    box-sizing: border-box;
}
.table-seccion__caption{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1rem;
    color:#333333;
}
.table-seccion__tabla{
    width:100%;
    border-collapse: collapse;
    margin:20px;
    display:none;
}
.table-seccion:hover .table-seccion__tabla{
    display:table;
}
.table-seccion__celda{
    padding: 12px 15px;
    text-align: left;
}
.table-seccion__header{
    background-color: #f2f2f2;
    font-weight: bold;
}
.table-seccion__fila{
    border-bottom: 1px solid #dddddd;
}
.footer__caja{
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 15px;
}
.footer__redes{
    display: flex;
    gap: 20px;
}
.footer__link-red{
    color: #f2f2f2;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.25s ease;
}
.footer__link-red:hover{
    color:#ffaa33;
}
 .footer{
    background-color: #6688bb;
    padding:20px;
    text-align:center;
}
.footer__texto{
    color:#f2f2f2;
    font-size:14px;
} 
.lugares__caja{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    width:100%;
    margin-top:40px;
    flex-wrap: wrap;
   gap: 30px;
   
} 
.tarjeta *{
    margin-top: 4px;
    margin-bottom:4px;
}
.tarjeta{
    background-color:rgba(214,234,248,0.75);
    width: 300px;
    padding:20px;
} 
.tarjeta-destacada .tarjeta__dato{
    display:inline-block;
    background-color:#ffaa33;
    color:black;
    padding:6px 14px;
    border-radius:20px;
    font-size:0.9rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    
}
.tarjeta-destacada .tarjeta__boton{
    display:block;
    width:100%;
    margin-top: 10px;
}
.tarjeta p{
    text-align: justify;
    color:black;
}
.tarjeta__imagen{
   width:100%;
   height:200px;
   object-fit: cover; 
}
.tarjeta__dato{
    display:block;
    font-weight: bold;
    
}
.tarjeta__boton{
    margin-top:20px;
    color:#336699;
    font-size: 1rem;
}
.resenias__caja{
    max-width: 1200px;
    margin:40px auto;
    background-color: rgba(255,255,258,0.4);
    border-radius: 12px;
    padding:20px;
    margin-top: 40px;
}
.comentarios{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:25px;
    min-height: 55vh;
}
.tarjetaComentarios{
    background-color: rgba(255,255,255,0.9);
    padding:20px;
    border-radius: 8px;
    /*borde suave*/
    border:1px solid #dddddd;
    /*sombra*/
    box-shadow: 0 4px 6px  rgba(0,0,0,0.5);
    transition: transform 0.35s ease, box-shadow 0.35s ease, border-color 0.35 ease;
} 
.tarjetaComentarios:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
    border-color: #ffaa33;
}
.estrellas{
    color:#ffaa33;
    margin-top: 10px;
}
 /*Interruptor de emergencia: solo se activa en pantallas menores a 768 pixeles(celu)*/
 @media(max-width:768px){
    .comentarios{
        /*que grid se pongan en un única columna*/
        grid-template-columns: 1fr;
        /*Achicamos espacios entre estructuras*/
        gap:20px;
    }
 }
 .contacto__caja{
    max-width: 600px;
    margin: 40px auto;
    background-color: rgba(255,255,255,0.45);
    border-radius:12px;
    padding: 30px;
 }
 .contacto__label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #111111;

 }
 .contacto__input,
 .contacto__textarea {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #222222;
    border-radius: 4px;
    font-family: inherit;
    /* Evita que los casilleros se salgan de la caja*/
    box-sizing: border-box;
    transition: border-color 0.35s ease, box-shadow .035s ease;
    font-size: 1.1rem;
    color:#333333;

 }
 /*efecto visual de resplandor al pasar el mouse*/
 .contacto__input:focus,
 .contacto__textarea:focus {
    outline:none;
    border-color: #ffaa33;
    box-shadow: 0 0 8px rgba(255,170,51,0.4);
 }
 .contacto__boton {
    display: block;
    width:100%;
    background-color: #336699;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
}
@media(max-width: 768px) {
    .contacto__input,
    .contacto__textarea {
        margin-bottom: 15px;
    }
}
.espaciador-gracias {
    width: 100%;
    height: 48px;
    background-color: #ffaa33;
    display: block;
}
.gracias__caja{
    max-width: 650px;
    margin: 60px auto;
    background-color: rgba(255,255,255,0.95);
    border-radius: 12px;
    padding: 40px 30pX;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.gracias__titulo {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    color:#336699;
    margin-top: 0;
    margin-bottom: 20px;
}
.gracias__texto {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.6;
    margin-bottom: 35px;
}
.gracias__boton {
    display:inline-block;
    background-color: #336699;
    color: white;
    padding: 12px 35px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    font-size: 1.1rem;
    margin-top: 25px;
    transition: blackground-color 0.2s ease;
}
.gracias__boton:hover {
    background-color: #20446a;
    
}
.tienda_caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    min-height: 65vh;
    position: relative;
}
.productos-seccion {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.producto__imagen{
    width: 220px;

}
.producto{
    background-color: rgba(255,255,255,0.45);
    width:300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:20px;
    border-radius: 8px;
}
.producto__nombre{
    margin-top: 15px;
    font-size: 1.5rem;
}

.producto__precio{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}

.producto__boton{
    background-color: #336699;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}
/*tocamos posicion cambiamoa de fixed a absoluta*/
.carrito-seccion{
    position:absolute;
    top: 60px;
    display: none;
    width: 600px;
    background-color: rgba(255,255,255,0.95);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    padding: 20px;
}
.tienda__carrito-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background: transparent;
    border: none;
    color:#336699;
    padding: 15px;
    cursor: pointer;
}
.tienda__carrito-contador{
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    background-color: #ff6600;
    color: white;
    padding: 2px 6px;
    border-radius:50%;
}
.carrito__btn-menos, .carrito__btn-mas{ 
    font-size:24px;
    background-color:#336699;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.carrito__item{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
    align-items: center;

}
.carrito__item-miniatura{
    margin-right: 15px;
    vertical-align: middle;
}
.carrito__item-nombre{
   font-size: 1.3rem;
   font-weight: bold; 
   display: inline-block;

}
.carrito__item-cantidad{
    font-size: 25px;
    margin: 0 20px;
}
.carrito__item-precio{
   font-size: 1.3rem;
   font-weight: bold;  
}
.carrito__titulo{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold_;
}
.carrito__total-bloque{
    margin-top: 25px;
    padding: 25px;
    border-top: 2px solid #e0e0e0;
}
.carrito__total-texto{
    font-size: 1.5rem;
    font-weight: bold;
}
.carrito__btn-pagar{
    background-color: #336699;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 15px;
    float: right;
    cursor: pointer;

}