/*reseteo general*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box
}

.header{
    background-color: #336699;
    color:white;
    text-align:center;
    padding:10px;
}
body{
    font-family:"Atkison Hyperlegible";
    font-weight: 400;
}
.header__titulo{
    font-family: "Atkinson Hyperlegigle";
    font-weight: 700;
}
.header__logo{
    width:80px;
}
.header__title{
    color:white;
}

.nav{
    background: pink;
    margin:0;
    padding:10px;
}
.nav__list{
    list-style: none;
    
    
    
}
.nav__item{
    display:inline;
    margin:0 15px;
    vertical-align: middle;
}
.nav__link {
    display: inline-block;
    color: green;
    text-decoration: none;
}
    /*Al pasar el mouse*/
.nav__link:hover {
    text-decoration: underline;
    color: white;
}
.video-section__player--hidden{
    display: none;
}
.main{
    min-height: 80vh;
    background-color: #D6EAF8;
    background-image: url('../imagenes/mapa.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}
.table-section__table--hidden{
    display:none;
}
 .footer{
    background-color: #6688bb;
    padding:20px;
    text-align:center;
}
.footer__text{
    color:#f2f2f2;
    font-size:14px;
}   